# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock

# Angular build output
dist
build
.tmp

# Test / coverage
coverage
*.spec.ts

# Environment files
*.env
*.local
src/environments/environment*.ts

# OS files
.DS_Store
Thumbs.db
